.featured-boxes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #18181b;
    padding: 15px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .title h2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .icon {
    color: #a68eff;
    font-size: 22px;
  }
  
  
  .tabs {
    display: flex;
    gap: 10px;
  }
  
  .tab {
    background: transparent;
    border: none;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
  }
  
  .tab.active {
    background: #7a5aff;
    color: white;
  }
  
  .tab:hover {
    color: white;
  }
  

  .sort {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .sort-dropdown {
    display: flex;
    align-items: center;
    background: #18181b;
    padding: 10px 15px;
    border-radius: 8px;
    gap: 5px;
    cursor: pointer;
    max-width: 200px;
  }
  
  /* Sort Label */
  .sort-label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
  }
  
  /* Sort Select */
  .sort-select {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  /* Dropdown Icon */
  .dropdown-icon {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
  

  @media (max-width: 480px) {
    .sort-dropdown {
      padding: 8px 12px;
    }
  
    .sort-label,
    .sort-select {
      font-size: 12px;
    }
  
    .dropdown-icon {
      font-size: 10px;
    }
  }
  
  
  @media (max-width: 768px) {
    .featured-boxes-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }
  
    .tabs {
      justify-content: center;
    }
  
    .sort {
      margin-top: 5px;
    }
  }
  