.Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1.5px solid #1a1a20;

  .header-left {
    display: flex;
    gap: 30px;
  }

  .header-right {
    display: flex;
    gap: 10px;
    height: 100%;
  }
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;

  a {
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 15px;
    color: #a3a3b7;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .Header {
    padding: 10px 1 0px;
  }

  .header-left {
    gap: 20px;
  }

  .header-right {
    gap: 20px;
  }

  nav {
    display: none;
  }

  .select-wrapper:first-child {
    display: none;
  }

  li a {
    font-size: 14px;
  }
}
