.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.mobileLogo {
  display: none;
}

.deskLogo {
  display: block;
}
@media (max-width: 768px) {
  .mobileLogo {
    display: block;
  }

  .deskLogo {
    display: none;
  }
}
